# Ejercicios

# 🧠 Cuaderno de Ejercicios Python – Nivel Junior
¡Practica fundamentos de Python con ejercicios guiados y desafíos extra!

## 📌 1. Listas

### 🧪 Ejercicio 1.1 – Agregar elementos
Crea una lista vacía y agrega los números del 1 al 5.

In [3]:
##Forma 1
numeros = list()
numeros.append(1)
numeros.append(2)
numeros.append(3)
numeros.append(4)
numeros.append(5)
numeros

##Forma 2
lista = []
for i in range(1,6):
    lista.append(i)
print(lista)

[1, 2, 3, 4, 5]

### 🧪 Ejercicio 1.2 – Eliminar duplicados
Dada la lista `nums = [1, 2, 2, 3, 4, 4, 5]`, elimina duplicados sin usar `set`.

In [10]:
num = [1,2,2,3,4,4,5]
sin_duplicas = []

for i in num:
    if i not in sin_duplicas:
        sin_duplicas.append(i)

print(sin_duplicas)

[1, 2, 3, 4, 5]

### 🧪 Ejercicio 1.3 – Suma de elementos
Escribe una función que reciba una lista de números y devuelva la suma total.

In [17]:
def suma(lista):
    total = 0
    for num in lista:
        total += num
    return total

num_lista = [1,2,3,4,5]

print(suma(num_lista))

15

### 🧪 Ejercicio 1.4 – Multiplicar elementos
Multiplica cada elemento de una lista por 2.

In [63]:
num = [9,1,5,6,4,78,35,1,2,4,3,8,10]

"""  Compresion de lista  """
## - Se traduce como: “para cada num en la lista numeros, multiplica num por 2 y guarda el resultado en una nueva lista llamada dobles.”
dobles_com =[i * 2 for i in num]

"""  Forma sin compresion  """
dobles = []

for i in num:
    mul = i * 2
    dobles.append(mul)

print(f"La lista normal es {num}")
print(f"La lista con los dobles son {dobles_com}")
print(f"La lista con los dobles son {dobles}")

La lista normal es [9, 1, 5, 6, 4, 78, 35, 1, 2, 4, 3, 8, 10]
La lista con los dobles son [18, 2, 10, 12, 8, 156, 70, 2, 4, 8, 6, 16, 20]
La lista con los dobles son [18, 2, 10, 12, 8, 156, 70, 2, 4, 8, 6, 16, 20]

### 🧪 Ejercicio 1.5 – Ordenar lista
Ordena una lista de números en orden ascendente y descendente.

In [69]:
num = [9,1,5,6,4,78,35,1,2,4,3,8,10]

##num.sort()
num.reverse()

print(num)

[10, 8, 3, 4, 2, 1, 35, 78, 4, 6, 5, 1, 9]

## 📚 2. Diccionarios

### 🧪 Ejercicio 2.1 – Contador de palabras
Dado un texto, cuenta cuántas veces aparece cada palabra usando un diccionario.

In [85]:
#archivo = open("traba.txt")
#conteo = dict()
#for texto in archivo:
    #palabra = texto.split()
texto = "hola mundo hola como estas esta bien buen mundo hola python"
contador = {}
palabra = texto.split()

for numero in palabra:
    if numero not in contador:
        contador[numero] = 1
    else:
        contador[numero] += 1

contador

{'hola': 3,
 'mundo': 2,
 'como': 1,
 'estas': 1,
 'esta': 1,
 'bien': 1,
 'buen': 1,
 'python': 1}

### 🧪 Ejercicio 2.3 – Diccionario de estudiantes
Crea un diccionario con nombres de estudiantes como claves y sus calificaciones como valores. Luego imprime solo los que aprobaron (>= 70).

In [72]:
estudiantes = {}
estudiantes ["Alvaro"] = 60
estudiantes ["Fabian"] = 80
estudiantes ["Carlos"] = 75
estudiantes ["Entique"] = 90
estudiantes ["Manuel"] = 10
estudiantes ["Lucia"] = 10
estudiantes ["Maria"] = 55
estudiantes ["Luzmaria"] = 70
estudiantes ["Mike"] = 75

for nombre, nota in estudiantes.items():
    if nota >= 70:
        print(f"{nombre} aprobo con la calificacion de {nota}")

Fabian aprobo con la calificacion de 80
Carlos aprobo con la calificacion de 75
Entique aprobo con la calificacion de 90
Luzmaria aprobo con la calificacion de 70
Mike aprobo con la calificacion de 75

### 🧪 Ejercicio 2.3 – Crear un diccionario
Crea un diccionario que almacene el nombre y la edad de tres personas.

In [87]:
persona = {
    1:{"Nombre": "Alvaro", "Edad": 23},
    2:{"Nombre": "Maria", "Edad": 15},
    3:{"Nombre": "Marco", "Edad": 18}
}

print(persona)

{1: {'Nombre': 'Alvaro', 'Edad': 23}, 2: {'Nombre': 'Maria', 'Edad': 15}, 3: {'Nombre': 'Marco', 'Edad': 18}}

### 🧪 Ejercicio 2.4 – Acceder a valores
Dado un diccionario, accede al valor asociado con una clave específica.

In [111]:
personas = {
    1: {"nombre": "Ana", "edad": 28, "ciudad": "Monterrey"},
    2: {"nombre": "Luis", "edad": 35, "ciudad": "Guadalajara"},
    3: {"nombre": "María", "edad": 22, "ciudad": "CDMX"},
    4: {"nombre": "Carlos", "edad": 40, "ciudad": "Puebla"},
    5: {"nombre": "Sofía", "edad": 30, "ciudad": "Querétaro"}
}

print(personas.get(1))
"""  Forma para acceder directo a un valor  """
print(personas[3]["nombre"])

{'nombre': 'Ana', 'edad': 28, 'ciudad': 'Monterrey'}
María

### 🧪 Ejercicio 2.5 – Agregar y eliminar elementos
Agrega un nuevo par clave-valor a un diccionario y elimina otro.

In [112]:
personas.update({6:{"nombre": "Fabian", "edad": 18, "ciudad": "Querétaro"}})
personas.pop(5)

print(personas)

{1: {'nombre': 'Ana', 'edad': 28, 'ciudad': 'Monterrey'}, 2: {'nombre': 'Luis', 'edad': 35, 'ciudad': 'Guadalajara'}, 3: {'nombre': 'María', 'edad': 22, 'ciudad': 'CDMX'}, 4: {'nombre': 'Carlos', 'edad': 40, 'ciudad': 'Puebla'}, 6: {'nombre': 'Fabian', 'edad': 18, 'ciudad': 'Querétaro'}}

### 🧪 Ejercicio 2.6 – Iterar sobre un diccionario
Itera sobre las claves y valores de un diccionario e imprímelos.

In [124]:
for clave,datos in personas.items():
    print(f"El Id es {clave}")
    print(f"La informacion es: {datos}")
    print("-------------------------------------------")

El Id es 1
La informacion es: {'nombre': 'Ana', 'edad': 28, 'ciudad': 'Monterrey'}
-------------------------------------------
El Id es 2
La informacion es: {'nombre': 'Luis', 'edad': 35, 'ciudad': 'Guadalajara'}
-------------------------------------------
El Id es 3
La informacion es: {'nombre': 'María', 'edad': 22, 'ciudad': 'CDMX'}
-------------------------------------------
El Id es 4
La informacion es: {'nombre': 'Carlos', 'edad': 40, 'ciudad': 'Puebla'}
-------------------------------------------
El Id es 6
La informacion es: {'nombre': 'Fabian', 'edad': 18, 'ciudad': 'Querétaro'}
-------------------------------------------

## 🧮 2. Tuplas

### 🧪 Ejercicio 2.1 – Acceso a elementos
Dada la tupla t = (10, 20, 30), imprime el segundo elemento.

In [162]:
t = (10,20,30)

print(t[1])

20

### 🧪 Ejercicio 2.2 – Intercambio de variables
Usa una tupla para intercambiar los valores de dos variables a = 5, b = 10.

In [163]:
a = 5
b = 10

a, b = b, a

print(a,b)

10 5

### 🧪 Ejercicio 2.3 – Crear una tupla
Crea una tupla con los números del 1 al 5 e imprime su contenido.

In [125]:
tupla = (1,2,3,4,5)

print(tupla)

(1, 2, 3, 4, 5)

### 🧪 Ejercicio 2.4 – Acceder a elementos
Dada una tupla, accede al primer y último elemento.

In [146]:
## tupla = (1,2,3,4,5)

t = f"{tupla[0]}, {tupla[4]}"
print(t)

1, 5

### 🧪 Ejercicio 2.5 – Contar elementos
Dada una tupla, cuenta cuántas veces aparece un elemento específico.

In [154]:
tupla = (1,1,5,2,4,6,3,9,6,4,7,8,2,4,0)

print(tupla.count(4))

"""  Frecuencia por numero  """
frecuencia = {}

for elemento in tupla:
    frecuencia[elemento] = frecuencia.get(elemento, 0) + 1

print(frecuencia)

3
{1: 2, 5: 1, 2: 2, 4: 3, 6: 2, 3: 1, 9: 1, 7: 1, 8: 1, 0: 1}

### 🧪 Ejercicio 2.6 – Convertir a lista
Convierte una tupla en una lista, agrega un nuevo elemento y vuelve a convertirla en tupla.

In [161]:
lista = list(tupla)

lista.extend([45,4,7,48])

lista = tuple(lista)

print(lista)

(1, 1, 5, 2, 4, 6, 3, 9, 6, 4, 7, 8, 2, 4, 0, 45, 4, 7, 48)

### 🧪 Ejercicio 2.7 – Desempaquetar tupla
Dada una tupla con tres elementos, desempaquétalos en tres variables.

In [164]:
datos = ("Tecámac", 2025, "México")

"""  Se asignan las variables a cada dato  """
## El numero de variables debe de coincidir con el numero de datos en la tupla
ciudad, año, estado = datos

print(ciudad)
print(año)
print(estado)

Tecámac
2025
México

## 🧠 4. Tablas de verdad

### 🧪 Ejercicio 4.1 – Evaluación lógica
Escribe una función que reciba dos valores booleanos a y b y devuelva el resultado de a and b, a or b, not a.

In [164]:
def evaluador_logico(a, b):
    print("AND", a and b)
    print("OR", a or b)
    print("NOT A", not a)

evaluador_logico(True, False)

AND False
OR True
NOT A False

### 🧪 Ejercicio 4.2 – Tabla completa
Imprime la tabla de verdad para a y b con todas las combinaciones posibles.

In [165]:
valores = [True, False]
for a in valores:
    for b in valores:
        print(f"A={a}, B={b} | AND={a and b}, OR={a or b}, NOT A={not a}")

A=True, B=True | AND=True, OR=True, NOT A=False
A=True, B=False | AND=False, OR=True, NOT A=False
A=False, B=True | AND=False, OR=True, NOT A=True
A=False, B=False | AND=False, OR=False, NOT A=True

### 🧪 Ejercicio 4.3 – Tabla de verdad para AND
Genera una tabla de verdad para la operación lógica AND.

In [2]:
valores = [True, False]

for a in valores:
    for b in valores:
        print(f"A={a}, B ={b} | AND ={a and b}")

A=True, B =True | AND =True
A=True, B =False | AND =False
A=False, B =True | AND =False
A=False, B =False | AND =False

### 🧪 Ejercicio 4.4 – Tabla de verdad para OR
Genera una tabla de verdad para la operación lógica OR.

In [4]:
valores = [True, False]

for a in valores:
    for b in valores:
        print(f"A={a}, B={b} | OR = {a or b}")

A=True, B=True | OR = True
A=True, B=False | OR = True
A=False, B=True | OR = True
A=False, B=False | OR = False

### 🧪 Ejercicio 4.5 – Tabla de verdad para NOT
Genera una tabla de verdad para la operación lógica NOT.

In [6]:
valores = [True, False]

for a in valores:
    for b in valores:
        print(f"A={a}, B={b} | NOT = {not a}")

A=True, B=True | NOT = False
A=True, B=False | NOT = False
A=False, B=True | NOT = True
A=False, B=False | NOT = True

### 🧪 Ejercicio 4.6 – Combinación de operaciones
Genera una tabla de verdad para la expresión \( (A \and B) \or \ not C \).

In [16]:
valores =[True, False]

print("A\tB\tC\t(A and B)\tNot C\tResultado")
for a in valores:
    for b in valores:
        for c in valores:
            resultado = (a and b) or (not c)
            print(f"{a}\t{b}\t{c}\t{a and b}\t\t{not c}\t{resultado}")

A	B	C	(A and B)	Not C	Resultado
True	True	True	True		False	True
True	True	False	True		True	True
True	False	True	False		False	False
True	False	False	False		True	True
False	True	True	False		False	False
False	True	False	False		True	True
False	False	True	False		False	False
False	False	False	False		True	True

## ⁉️ 5. Condicionales

### 🧪 Ejercicio 5.1 – Clasificación de edad
Escribe una función que reciba una edad y devuelva "niño", "adolescente", "adulto" o "mayor" según el rango.

In [155]:
edad = int(input("Coloca tu edad:"))

if edad < 12:
    print("Eres un niño")
elif edad < 18:
    print("Eres un adolecente")
elif edad < 45:
    print("Eres un adulto")
else:
    print("Eres alguien ya mayor")

Coloca tu edad: 5

Eres un niño

### 🧪 Ejercicio 5.2 – Número par o impar
Crea una función que determine si un número es par o impar.

In [104]:
##- Número par o impar
##Crea una función que determine si un número es par o impar.
def par_impar(num):
    if num % 2 == 0:
         print("Par")
    else:
        print("Impar")
        
dato = int(input("Colcoa un numero para var si es par o impar: "))
print(par_impar(dato))

Colcoa un numero para var si es par o impar:  17

Impar
None

### 🧪 Ejercicio 5.3 – Verificar edad
Solicita una edad y determina si la persona es mayor de edad.

In [20]:
edad = int(input("Coloca tu edad para saber si eres mayor de edad:"))

if edad >= 18:
    print("Usted es mayor de edad")
else:
    print("Eres menor de edad")

Coloca tu edad para saber si eres mayor de edad: -10

Eres menor de edad

### 🧪 Ejercicio 5.4 – Número positivo, negativo o cero
Solicita un número y clasifícalo.

In [24]:
num = int(input("Introduce un numero para clasificarlo(positivo, negativo o cero):"))

if num > 0:
    print("El numero es positivo")
elif num == 0:
    print("El numero es cero")
else:
    print("El numero es negativo")

Introduce un numero para clasificarlo(positivo, negativo o cero): 0

El numero es cero

### 🧪 Ejercicio 5.5 – Comparar dos números
Solicita dos números y determina cuál es mayor, menor o si son iguales.

In [32]:
print("Se te solicitara colocar dos numeros")
print("Primero introduce un numero")
num1 = int(input())
print("Introduce el segundo numero")
num2 = int(input())

if num1 > num2:
    print(f"Su prirmer numero({num1}) es mayor que el segundo({num2})")
elif num1 < num2:
    print(f"Su segundo numero({num1}) es mayor que el primero({num2})")
else:
    print("Los numeros son iguales")

Se te solicitara colocar dos numeros
Primero introduce un numero

 10

Introduce el segundo numero

 10

Los numeros son iguales

### 🧪 Ejercicio 5.6 – Clasificar calificaciones
Solicita una calificación y clasifícala como excelente, buena, regular o mala según el rango.

In [44]:
calif = float(input("Introduzca la calificacion que opbtuvo para saber su clasficacion(excelente, buena, regular o mala)"))

if calif > 10:
    print("La cantidad ingresada supera lo establecido *10*")
elif calif >= 9.5:
    print("Excelente")
elif calif >= 8:
    print("Buena")
elif calif >= 7:
    print("Regular")
else:
    print("Mala")

Introduzca la calificacion que opbtuvo para saber su clasficacion(excelente, buena, regular o mala) 6.4

Mala

### 🧪 Ejercicio 5.6 – Verificar múltiplo
Solicita un número y verifica si es múltiplo de otro número dado

In [49]:
num = int(input("Coloca un numero"))
multi = int(input("Introduce otro numero para saber si es multiplo del otro"))

if num % multi == 0:
    print(f"El numero {multi} si es multiplo de {num}")
else:
    print(f"El numero {multi} no es multiplo de {num}")

Coloca un numero 25
Introduce otro numero para saber si es multiplo del otro 5

El numero 5 si es multiplo de 25

## 📌 6. Try-Except

### 🧪 Ejercicio 6.1 – Manejo de errores
Escribe una función que reciba dos números y devuelva su división. Usa try–except para manejar divisiones por cero.

In [168]:
def division(a,b):
    try:
        return a/b
    except ZeroDivisionError:
        return "Error: division por 0"

print(division(10,0))
print(division(10,3))

Error: division por 0
3.3333333333333335

### 🧪 Ejercicio 6.2 – Manejar entrada inválida
Solicita un número al usuario y maneja el error si ingresa un valor no numérico.

In [60]:
try:
    num = int(input("Coloque un numero"))
    print("Gracias")
except ValueError:
    print("El valor ingresado no es numerico")

Coloque un numero 4

Gracias

### 🧪 Ejercicio 6.3 – Leer archivo inexistente
Intenta abrir un archivo que no existe y maneja el error correspondiente.

In [61]:
try:
    archivo = open("hola.txt")
except:
    print("El archivo no existe")

El archivo no existe

### 🧪 Ejercicio 6.4 – Manejar múltiples excepciones
Solicita un número y maneja tanto errores de tipo como divisiones por cero.

In [63]:
try:
    numero = int(input("Ingresa un número entero: "))
    resultado = 10 / numero
    print(f"10 dividido entre {numero} es {resultado}")
except ValueError:
    print("Error: Debes ingresar un número entero válido.")
except ZeroDivisionError:
    print("Error: No se puede dividir entre cero.")

Ingresa un número entero:  4

10 dividido entre 4 es 2.5

### 🧪 Ejercicio 6.5 – Usar finally
Crea un bloque try-except que incluya una sección finally para imprimir un mensaje final.

In [62]:
try:
    archivo = open("hola.txt")
except:
    print("El archivo no existe")
finally:
    print("Intetelo de nuevo")

El archivo no existe
Intetelo de nuevo

## 🔁 7. Ciclos

### 🧪 Ejercicio 7.1 – Imprimir números pares
Usa un ciclo for para imprimir los números pares del 1 al 20.

In [181]:
for i in range(1,21):
    if i % 2 == 0:
        print(f"{i} es Par")
    else:
        print(f"{i} es Impar")

1 es Impar
2 es Par
3 es Impar
4 es Par
5 es Impar
6 es Par
7 es Impar
8 es Par
9 es Impar
10 es Par
11 es Impar
12 es Par
13 es Impar
14 es Par
15 es Impar
16 es Par
17 es Impar
18 es Par
19 es Impar
20 es Par

### 🧪 Ejercicio 7.2 – Contador con while
Usa un ciclo while para contar del 10 al 1.

In [70]:
i = 10

while i > 0:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

### 🧪 Ejercicio 7.3 – Contador con for
Imprime los números del 1 al 10.

In [69]:
for i in range(1,11):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

### 🧪 Ejercicio 7.4 – Suma con while
Suma los números del 1 al 5 usando un bucle while.

In [6]:
contador = 1
suma = 0

while contador <= 5:
    suma += contador
    contador += 1

print(f"La suma es {suma}")

La suma es 15

### 🧪 Ejercicio 7.5 – Tabla de multiplicar
Genera la tabla de multiplicar de un número dado.

### 🧪 Ejercicio 7.6 – Contar elementos
Cuenta cuántos elementos hay en una lista usando un bucle.

### 🧪 Ejercicio 7.7 – Encontrar máximo
Encuentra el número máximo en una lista usando un bucle.

## 📌 8. Lambda

### 🧪 Ejercicio 8.1 – Sumar dos números
Crea una función lambda que sume dos números.

### 🧪 Ejercicio 8.2 – Filtrar números pares
Usa una función lambda para filtrar los números pares de una lista.

### 🧪 Ejercicio 8.3 – Ordenar por longitud
Usa una función lambda para ordenar una lista de palabras por su longitud.

### 🧪 Ejercicio 8.4 – Elevar al cuadrado
Crea una función lambda que eleve un número al cuadrado.

### 🧪 Ejercicio 8.5 – Multiplicar elementos
Usa una función lambda para multiplicar cada elemento de una lista por un número dado.

### 🧪 Ejercicio 8.6 – Doblar números
Usa map() y una función lambda para doblar los números de una lista.

In [169]:
numeros = [1,2,3,4,5,6]
doblados = list(map(lambda x: x * 2, numeros))

print(doblados)

[2, 4, 6, 8, 10, 12]

### 🧪 Ejercicio 8.7 – Filtrar mayores de edad
Usa filter() y lambda para obtener solo los mayores de edad de una lista de edades.

In [170]:
edades = [17,18,20,13,15,32,19]
filtro = list(filter(lambda x: x>= 18, edades))

print(filtro)

[18, 20, 32, 19]

## 📞 9. Recursividad

### 🧪 Ejercicio 6.1 – Calcular factorial
Crea una función recursiva que calcule el factorial de un número.

In [178]:
def factorial(numero):
    if numero < 1:
        return 1
    return numero * factorial(numero - 1)

dato = int(input("Coloca un nuemero para saber su factorial:"))
print(f"El numero factorial de {dato} es:", factorial(dato))

Coloca un nuemero para saber su factorial: 5

El numero factorial de 5 es: 120

### 🧪 Ejercicio 6.2 – Sumar números
Crea una función recursiva que sume los números del 1 al \( n \).

### 🧪 Ejercicio 6.3 – Fibonacci
Crea una función recursiva que calcule el \( n \)-ésimo número de Fibonacci.

### 🧪 Ejercicio 6.4 – Contar dígitos
Crea una función recursiva que cuente cuántos dígitos tiene un número.

### 🧪 Ejercicio 6.5 – Potencia
Crea una función recursiva que calcule \( a^b \) (\( a \) elevado a la \( b \)).

### 🧪 Ejercicio 6.6 – Contador regresivo
Crea una función recursiva que imprima un conteo regresivo desde un número dado hasta 0.

In [179]:
def conteo(numero):
    if numero < 0:
        return
    print(numero)
    conteo(numero - 1)

dato = int(input("Introduzca un numero para hacer la cuenta regresiva:"))
print(conteo(dato))

Introduzca un numero para hacer la cuenta regresiva: 5

5
4
3
2
1
0
None

## ⚒️ 10. Clases y constructores

### 🧪 Ejercicio 10.1 – Clase Persona
Crea una clase Persona con atributos nombre y edad. Usa un constructor para inicializarlos.

In [183]:
class Persoan:
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad

### 🧪 Ejercicio 10.2 – Método saludar
Agrega un método saludar() que imprima "Hola, soy {nombre} y tengo {edad} años".

In [184]:
class Persona:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def saludar(self):
        return f"Hola {self.name} mucho gusto, no sabia que tuvieras {self.age} años"

name = input("Como te llamas?")
age = input("Cuantos años teines?")
persona = Persona(name, age)
print(persona.saludar())

Como te llamas? Juan
Cuantos años teines? 4

Hola Juan mucho gusto, no sabia que tuvieras 4 años

### 🧪 Ejercicio 10.4 – Herencia
Crea una clase Estudiante que herede de la clase Persona y agrega un atributo grado.

### 🧪 Ejercicio 10.5 – Contador de instancias
Agrega un atributo de clase que cuente cuántas instancias de la clase Persona se han creado.